body {
    background-color: #111; 
    color: #f0f0f0; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    font-family: 'Creepster', cursive; 
    color: #e67e22; 
    letter-spacing: 2px;
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 5px #000;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: 10px;
    margin-top: 40px;
}

h3 {
    color: #f39c12;
    font-size: 1.5rem;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #2c2c2c; 
    border: 2px solid #444;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(230, 126, 34, 0.3);
}

.gabaritos {
    text-align: center;
}

.gabaritos img {
    max-width: 100%;
    height: auto;
    border: 4px solid #e67e22;
    border-radius: 5px;
    margin-top: 15px;
}

p {
    line-height: 1.6;
}

.exemplo {
    background-color: #1a1a1a;
    border: 2px dashed #f39c12;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
}

.nav-halloween {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: #333;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
}

.nav-halloween li a {
    font-family: 'Creepster', cursive;
    font-size: 1.8rem;
    color: #e67e22;
    text-decoration: none;
    transition: all 0.3s ease;
}

.cemiterio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
}

.tumulo {
    background-color: #333;
    border: 2px solid #555;
    border-radius: 10px 10px 0 0; 
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.tumulo-icone {
    font-size: 3rem;
}

.tumulo p {
    font-family: 'Creepster', cursive;
    font-size: 1.5rem;
    color: #f39c12;
    margin: 10px 0 0 0;
}